<div class="row">
  <div class="col">
    <table class="table table-striped table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Participant</th>
            <th *ngFor="let p of getProblemSymbols()" scope="col">{{p}}</th>
            <th scope="col">Solved</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participant of participants; let rank=index">
            <th scope="row">{{rank + 1}}</th>
            <td>{{participant.nickname}}</td>
            <td *ngFor="let p of participant.problems">
              <span class="badge badge-success" *ngIf="p.isSolved && p.attempts > 1">
                +{{p.attempts - 1}}
              </span>
              <span class="badge badge-success text-center" *ngIf="p.isSolved && p.attempts === 1">
                +
              </span>
              <span class="badge badge-danger" *ngIf="!p.isSolved && p.attempts > 0">
                -{{p.attempts - 1}}
              </span>
              <p *ngIf="p.attempts > 0">
                {{getTimeForStandings(p.lastAttemptTime) | date:'HH:mm'}}
              </p>
            </td>
            <td>{{countSolvedProblems(participant)}}</td>
            <td>{{countPenaltyForACMFormat(participant)}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>