<div class="row">
  <div class="col">
    <table class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Title</th>
          <th scope="col">Language</th>
          <th scope="col">Status</th>
          <th scope="col">Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let submission of submissions">
          <td>{{submission.time | date:'short'}}</td>
          <td>{{getProblemTitle(submission.problemId)}}</td>
          <td>{{submission.lang}}</td>
          <td>
            <span class="badge" 
                  [class.badge-success]="submission.status==='AC'"
                  [class.badge-danger]="submission.status!='AC'">
              {{submission.status}}
            </span>
          </td>
          <td><button type="button" 
                      class="btn btn-primary btn-sm"
                      (click)="showSource(sourceCode)">
              See Source
            </button>
          </td>
          <ng-template #sourceCode>
            <div class="modal-header">
              <h4 class="modal-title pull-left">
                {{submission.time | date:'short'}}, 
                {{getProblemTitle(submission.problemId)}},
                <span class="badge badge-dark">{{submission.lang}}</span>, 
                <span class="badge" 
                  [class.badge-success]="submission.status==='AC'"
                  [class.badge-danger]="submission.status!='AC'">
              {{submission.status}}
            </span> </h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" highlight-js-content=".highlight">
              <pre class="highlight">{{submission.code}}</pre>
            </div>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>