<div class="container" *ngIf="contest">
  <p class="text-center h1">{{contest.title}}</p>
  <div class="row">
    <div class="col">
      <progressbar [max]="contest.duration"
                   [value]="getRunningTime()"
                   *ngIf="!isRunning() && !isFinished()">
        <span class="text-nowrap">Starts in {{getTimeToStart()}}</span>
      </progressbar>
      <progressbar [max]="contest.duration"
                   [value]="getRunningTime().hours*60 + getRunningTime().minutes"
                   *ngIf="isRunning()">
        <span class="text-nowrap text-center font-weight-bold">Running {{getRunningTime().hours}}:{{getRunningTime().minutes}}</span>
      </progressbar>
      <progressbar [max]="contest.duration"
                   [value]="getRunningTime()"
                   *ngIf="isFinished()">
        <span class="text-nowrap text-center font-weight-bold">Is Finished</span>
      </progressbar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <tabset #staticTabs>
        <tab heading="Problems"><app-problem [problems]="contest.problems" [participant]="getParticipant()"></app-problem></tab>
        <tab heading="Submissions"><app-submissions [problems]="contest.problems"></app-submissions></tab>
        <tab heading="Standings"><app-monitor [problems]="contest.problems"></app-monitor></tab>
      </tabset>
    </div>
  </div>
</div>
