  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <button
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
           *ngFor="let problem of problems; let i=index"
           [class.active]="problem.id === activeProblem.id"
           [class.list-group-item-success]="isProblemSolved(problem.id)"
           [class.list-group-item-danger]="isProblemAttempted(problem.id)"
           (click)="changeActiveProblem(problem)">
          {{problemTitleInProblemList(problem, i)}}
          <span class="badge badge-success badge-pill" *ngIf="isProblemSolved(problem.id)">
            solved
          </span>
          <span class="badge badge-danger badge-pill" *ngIf="isProblemAttempted(problem.id)">
            failed
          </span>
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <p class="text-center h2">{{activeProblem.title}}</p>
          <p class="text-center h6 text-muted">Time Limit: 1 second</p>
          <p class="text-center h6 text-muted">Memory Limit: 256 megabytes</p>
          <hr>
          <div>
            <p>{{activeProblem.text}}</p>
          </div>
          <div>
            <p class="font-weight-bold">Input</p>
            <p>{{activeProblem.inputDescription}}</p>
          </div>
          <div>
            <p class="font-weight-bold">Output</p>
            <p>{{activeProblem.outputDescription}}</p>
          </div>
          <div>
            <p class="font-weight-bold">Samples</p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Input</th>
                  <th scope="col">Output</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let _ of activeProblem.inputTests; let i=index">
                  <td>
                    <pre>{{concatenateTest(activeProblem.inputTests[i])}}</pre>
                  </td>
                  <td><pre>{{concatenateTest(activeProblem.outputTests[i])}}</pre></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>